<div class="text-center"> 
    <h3><b>Mission Statement:</b></h3>
    It is the mission of the Aurora University Campus Public Safety Department to provide outstanding police services, and promote a safe and secure living and working environment through community education and preparedness.&#160;<strong><b> </b></strong>
    <h3><strong>Contact:</strong></h3>
    <b>Emergency </b><br/> 911, <span class="Object" id="OBJ_PREFIX_DWT2949_com_zimbra_phone">630-844-5450</span> or x555 from a campus phone <br/> Code Blue call box - ten locations throughout campus
    <p><b>Non-Emergency</b><br/> 630-844-6140 or x6140 from a campus phone<br/><a href="mailto:cpsafety@aurora.edu">cpsafety@aurora.edu</a></p>
    <h3><b>Location:</b></h3>
    1408 Southlawn Place
    <h3><strong>Emergency Alerts:</strong></h3>
    <b>Consistent Text Messaging Source Number</b><br/> Official AU alert messages are always delivered from the same contact number. Please take a moment to add 67283 and 226787 to your contacts as "AU Emergency Notifications" (Note: this is a short code, not a seven-digit phone number).
    <p><b>Unsubscribe</b><br/> Please <a href="https://www.aurora.edu/regroup/optout.html">click here</a> if you wish to unsubscribe from the emergency messaging system.</p>
    
    <%# <p><b>Subscribe</b> <br/> AU students, faculty and staff use&#160;<a href="https://wa3.aurora.edu/WebAdvisor/WebAdvisor">WebAdvisor</a> to sign up for emergency notifications.</p>
    <p>John C. Dunham STEM Partnership School parents and teachers, please <a href="https://www.aurora.edu/regroup/signup.html">fill out this form</a>.</p>
    <p>Parents and friends of Aurora University or George Williams College, please <a href="https://www.aurora.edu/regroup/signup.html">fill out this form</a>.</p> %>
</div>

<div class="offLeftWall">
    <%= link_to image_tag("https://upload.wikimedia.org/wikipedia/en/a/aa/Aurora_University_logo.jpg", alt: "Rails logo"),
            'http://www.aurora.edu/' %>
</div>