<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home Screen</title>
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/HomeScreenSheet.css">
</head>
<style media="screen">
  body{
    margin: 5px;
    background-color: #314455;
  }
</style>
<body>
  <div class="white">
  <h1>Welcome to Campus Saftey Permits</h1>
  <h2>
    <%begin %>
    <%= current_user.student.first_name + " " + current_user.student.last_name%>
      <%rescue StandardError => e %>
      <%begin %>
      <%= current_user.faculty.first_name + " " + current_user.faculty.last_name%>
        <%rescue StandardError => e %>
        Please Register as a student or a faculty member!
      <%end %>
    <%end %>
  </h2>
  </div>
  <div id = "right" class="container">
    <div class="well">
                      <ul class="nav" >
                          <li class="nav-header" style = "font-size: 24px;"> Vehicle </li>
                          <hr>
                          <li style = "font-size: 18px;">  Registered Vehcile: </li>
                          <li>
                            <%begin %>
                              <%=current_user.vehicles.first.year + " " + current_user.vehicles.first.make + " " + current_user.vehicles.first.model%>
                              <%rescue StandardError => e %>
                            <%end %> </li>
                          <hr>
                          <li class="nav-header" style = "font-size: 24px;">Emergency Contact</li>
                          <hr>
                          <li>Primary Contact:<br> Contact Goes Here</li>
                      </ul>
                          </div>
  </div>

<div id = "left" class="container">
                <div class="well">
                  <ul class = "nav">
                      In the event of an emergency, immediate notification to the Department of Campus Safety is essential to ensure the timely response of emergency personnel.
                      <br> <br>
                      <b>For Emergencies please dial: </b> 911 <br> 630-844-5450 <br> x555 (Campus Phone)<br> <br>

                        <b>For Non-Emergencies: </b> <br>630-844-6140 <br>x6140 (Campus Phone) <br>
                        E-mail: cpsafety@aurora.edu

                        <b>Emergency Alerts:</b> <br>
                        <i>Consistent Text Messaging</i> <br> <br>
                        Official AU alert messages are always delivered from the same contact number. <br>Please take a moment to add 67283 and 226787 to your contacts as "AU Emergency Notifications".
                    </ul>
                </div>
        </div>

  <img id="middle"src="/assets/tenor.gif" alt="">

  <img id="bottomRight" src="/assets/safestColleges.png" alt="">

</body>
</html>
